@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
   --headerFont: 'Cinzel Decorative', serif;
   --subHeaderFont: "Playfair", serif;
   --mainFont: "DM Sans", serif;
   --black: #779494;
   --darkGrey: #779494;
   --mediumGrey: #8EA7A7;
   --lightGrey: #98AFAF;
   --white: #ffffff;
   --teal: #014D4E;
   --mediumTeal: #185D5E;
   --lightTeal: #2D6C6D;
   --yellow: #f5ba45;
   --mediumYellow: #F6C056;
   --lightYellow: #F7C665;
}
body{
    background-color: var(--white);
    font-family: var(--mainFont);
    color: var(--black);
    font-size: 16px;
}
h1{
    font-family: var(--headerFont);
    color: var(--teal);
    font-size:  2.027rem;
    font-weight: 500;
}
h2{
    font-family: var(--subHeaderFont);
    color: var(--black);
    font-weight: 500;
    font-size: 1.802rem;
    font-size:  2.027rem;
}
h3{
    font-size: 1.602rem;
    font-weight: 300;
}
h4{
    font-size: 1.424rem;
    font-weight: 300;
}
h5{
    font-size: 1.266rem;
    font-weight: 300;
}
h6{
    font-size: 1.125rem;
    font-weight: 300;
}
p{
    font-size: 1rem;
    font-weight: normal;
}
a{
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--teal);
}
a:hover{
    color: var(--yellow);
}
h1:hover{
    text-emphasis: none;
}
button{
    padding: 1em;
    border: none;
    background-color: var(--lightTeal);
    color: var(--white);
    border-radius: 8px;
    font-weight: 500;
    width: 50%;
    opacity: 0.7;
}
button:hover{
    background-color: var(--yellow);
    color: var(--white);
}
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
form input{
    border: none;
    border-bottom: 8px double var(--teal);
    border-left: 8px double var(--teal);
    border-bottom-left-radius: 4px;
    padding: 0.7em;
}
hr{
    border: 1px solid var(--black);
    margin-bottom: 1em;
}
.title{
    text-align: center;
    font-weight: bold;
}
.icon{
    height: 35px;
    position: absolute;
    top: 1.4em;
}
/* Images */
#heroImage{
    height: auto;
    width: 100%;   
    z-index: 0; 
}
#leftSideImg{
    height: auto;
    width: 50%; 
}
@media screen and (max-width: 650px) {
    #leftSideImg{
        display: none;
    }
}